/* background image */
.bg-img {
    background-image: url("com.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    height: 100vh;
}


p {
    color: white;
}

.container {
    background-color: rgba(17, 79, 74, 0.7);
}

input,
select {
    background-color: transparent !important;
    color: white !important;

}

#form-id input::placeholder {
    color: white;
}

button{
    width: 8em;
}